# Ignore junk.
/.idea
.DS_STORE
._*
Thumbs.db

# Ignore Gulp compiled files.
/public/css
/public/js

# Ignore node and front end framework stuff.
/resources/assets/bower
/node_modules

/vendor
/public/storage
Homestead.yaml
Homestead.json
.env
