*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	// Check out _settings.scss before doing font stuffs here!  :)  <3
}

#header {
}

#footer {
}