# Ignore everything in the root except the "wp-content" directory.
/*
!.gitignore
!.htaccess
!wp-config-default.php
!wp-content/

# Ignore everything in the "wp-content" directory, except the "plugins", "themes", and "uploads" directories.
wp-content/*
!wp-content/plugins/
!wp-content/themes/
!wp-content/uploads/

# Ignore everything in the "plugins" directory, except the plugins you specify.
#wp-content/plugins/*
#!wp-content/plugins/single-file-plugin.php
#!wp-content/plugins/plugin-folder/

# Ignore everything in the "themes" directory, except the themes you specify.
wp-content/themes/*
#!wp-content/themes/theme-folder/
